alias mv='mv -i'
alias rm='rm -I'
alias cp='cp -i'

alias ..='cd ..'
alias gs='git status'

alias ssh-addgent='eval `ssh-agent`; ssh-add'

alias clip='/mnt/c/Windows/System32/clip.exe'
alias my-sql-pagered="mysql -u $USER --pager='less -FinSX' -p"

